* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fafaf8;
}

.main-container {
  width: 720px;
  margin: 0 auto;
  padding-bottom: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
  width: 43px;
  height: 52px;
  margin-right: 10px;
}

header > h1 {
  font-weight: 400;
}

main {
  padding: 30px 30px 10px;
}

.ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.ingredient-form > input {
  width: 399px;
  height: 38px;
  padding: 9px 13px 9px 13px;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  background: #ffffff;
  border: 1px solid #d1d5db;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.ingredient-form > button {
  font-family: Inter, sans-serif;
  width: 183px;
  height: 38px;
  padding: 9px 17px 9px 17px;
  border-radius: 6px;
  border: none;
  background: #141413;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
}

.ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

ul {
  margin-left: 60px;
  margin-bottom: 40px;
}

ul > li {
  color: #475467;
  line-height: 28px;
}

section > .title {
  display: flex;
  justify-content: left;
  margin-left: 62px;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
  width: 594px;
  margin: 0 auto;
}

.recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500px;
  line-height: 24px;
}

.recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.recipe-container button {
  border: none;
  border-radius: 6px;
  background-color: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 62px;
  width: 594px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}